@media only screen and (max-width:400px) {

    header {
        height: 40px;
    }

    nav {
        height: 40px;
    }

    nav ul {
        gap: 2px;
    }

    nav ul li a {
        font-size: 7px;
    }

    .logo img {
        width: 50px;
        height: 10px;
    }

    .user {
        width: 15px;
        height: 15px;
    }

    #hero {
        width: 100%;
        height: 170px;
        align-items: center;
        justify-content: space-evenly;
    }

    .topleftcircle {
        width: 70px;
        height: 80px;
    }

    .toprightcircle {
        width: 146px;
        height: 90px;
    }

    .toprightcircle #main-heading {
        font-size: 16px;
    }

    /* Head Section */
    #head-section {
        height: 670px;
        top: 30px;
    }

    .container {
        width: 100%;
        height: 1000px;
    }

    .container .box {
        width: 220px;
        height: 280px;
        margin: 0px 20px;
    }

    .container .box .firstbox {
        width: 100px;
        height: 100px;
    }

    .container .box .secondbox {
        width: 100px;
        height: 100px;
    }

    .container .box .thirdbox {
        width: 100px;
        height: 100px;
    }

    .container .box .fourthbox {
        width: 100px;
        height: 100px;
    }

    .box-heading {
        font-size: 15px;
    }

    .box button {
        width: 70px;
        height: 20px;
        font-size: 12px;

    }

    #second-section {
        width: 100%;
        height: 800px;
    }

}


@media only screen and (min-width:400px) and (max-width: 600px) {
    header {
        height: 40px;
    }

    nav {
        height: 40px;
    }

    nav ul {
        gap: 12px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .logo img {
        width: 100px;
        height: 30px;
    }

    #hero {
        width: 100%;
        height: 280px;
        align-items: center;
        justify-content: space-evenly;
    }

    .topleftcircle {
        width: 110px;
        height: 150px;
    }

    .toprightcircle {
        width: 190px;
    }

    .toprightcircle #main-heading {
        font-size: 25px;
    }

    /* Head Section */
    #head-section {
        height: 700px;
        top: 30px;
    }

    .container {
        width: 100%;
        height: 700px;
    }

    .container .box {
        width: 200px;
        height: 300px;
        margin: 0px 20px;
    }

    .container .box .firstbox {
        width: 100px;
        height: 100px;
    }

    .container .box .secondbox {
        width: 100px;
        height: 100px;
    }

    .container .box .thirdbox {
        width: 100px;
        height: 100px;
    }

    .container .box .fourthbox {
        width: 100px;
        height: 100px;
    }

    .box-heading {
        font-size: 20px;
    }

    .box button {
        width: 70px;
        height: 20px;
        font-size: 12px;

    }

    #second-section {
        width: 100%;
        height: 800px;
    }
}

@media only screen and (min-width:600px) and (max-width: 812px) {
    nav ul li a {
        font-size: 15px;
    }

    #hero {
        width: 100%;
        height: 400px;
        align-items: center;
        justify-content: space-evenly;
    }

    .topleftcircle {
        width: 200px;
        height: 250px;
    }

    .toprightcircle {
        width: 250px;
    }

    .toprightcircle #main-heading {
        font-size: 30px;
    }

    /* Head Section */
    #head-section {
        height: 600px;
        top: 30px;
    }

    .container {
        width: 100%;
        height: 550px;
    }

    .container .box {
        width: 180px;
        height: 250px;
    }

    .container .box .firstbox {
        width: 150px;
        height: 150px;
    }

    .container .box .secondbox {
        width: 150px;
        height: 150px;
    }

    .container .box .thirdbox {
        width: 150px;
        height: 150px;
    }

    .container .box .fourthbox {
        width: 150px;
        height: 150px;
    }

    .box-heading {
        font-size: 20px;
    }

    .box button {
        width: 70px;
        height: 20px;
        font-size: 12px;

    }

    #second-section {
        width: 100%;
        height: 800px;
    }
}

@media only screen and (min-width: 812px) and (max-width: 1200px) {
    nav ul li a {
        font-size: 20px;
    }

    #hero {
        width: 100%;
        height: 400px;
        align-items: center;
        justify-content: space-evenly;
    }

    .topleftcircle {
        width: 300px;
        height: 250px;
    }

    .toprightcircle {
        width: 350px;
    }

    .toprightcircle #main-heading {
        font-size: 50px;
    }

    /* Head Section */
    .container {
        width: 100%;
        height: 500px;
    }

    #head-section {
        height: 400px;
        top: 40px;
    }

    .container .box {
        width: 230px;
        height: 300px;
    }

    .container .box .firstbox {
        width: 200px;
        height: 200px;
    }

    .container .box .secondbox {
        width: 200px;
        height: 200px;
    }

    .container .box .thirdbox {
        width: 200px;
        height: 200px;
    }

    .container .box .fourthbox {
        width: 200px;
        height: 200px;
    }

    .box-heading {
        font-size: 20px;
    }

    .box button {
        width: 70px;
        height: 20px;
        font-size: 12px;

    }

    #second-section {
        width: 100%;
        height: 800px;
    }
}